@model IEnumerable<OrganizationManagementApplication.Models.EmployeeDetails>

@{
    ViewData["Title"] = "Employees";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
